.panda-bg-color{
    /* by creating custom class panda-bg-color change the bootstrap class bg-info   */
    background-color:#FEEAE9;
    }
    /* all images under class Catagories will be 100px  */
    .Catagories img{
        width: 100px;
    }
    /* all the contenet of class panda-buy-button is taken from the given projects button */
    .panda-buy-button{
        background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
        color:white;
        border:none;
        border-radius: 8px;
        padding: 9px 25px;
    }